---
layout: default
---

<div class="home">

    <head>
        <title>{{ site.title }}</title>
    </head>
    <!-- <head>
        <title>{{ site.author }}</title>
    </head> -->
    <header class="post-header">
        <div class="post-back">
            <a class="black-link" href="{{ site.url | relative_url }}">
                ← {{ site.moving.back_to }}
            </a>
        </div>
        <div class="home-title">
            <p class="home-heading">{{ site.title }}</p>
            <p class="home-sub-heading">{{- site.description | escape -}}</p>
            <!-- <div class="home-sub-heading mt-0">
                <a style="color:inherit" href="{{ site.url }}/about.html">
                    About
                </a>
                </div> -->
            <!-- <ul>
                {% for category in site.categories %}
                <li><a href="{{ site.url }}/category/{{ category | first | slugify }}/index.html">{{ category | first }}</a></li>
                {% endfor %}
                </ul> -->
        </div>
    </header>
    <ul class="post-list">
        {% for category in site.categories %}
        <h3>
            <a class="black-link" href="{{ site.url }}/category/{{ category | first | slugify }}">{{ category
                | first }}
            </a>
        </h3>
        {% endfor %}
    </ul>
</div>